@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
}

header p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-size: 3.5vw;
    background-color: white;
    color: black;
}

p {
    font-family: 'Sriracha', cursive;
}

.bg-sec {
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 0px black;
}

.bg-sec p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
}

#bgflor {
    background-image: url(/projeto-cordel/imagens/background001.jpg);
}

#bgcarta {
    background-image: url(/projeto-cordel/imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}