@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 10vh;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
}

header p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

article {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-size: 3.5vh;

    background-color: white;
    color: black;
}

p {
    font-family: 'Sriracha', cursive;
}

.bg-sec {
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

#bgflor {
    background-image: url(/projeto-cordel/imagens/background001.jpg);
}

#bgcarta {
    background-image: url(/projeto-cordel/imagens/background002.jpg);
}

.bg-art {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}